.container {
  width: 357px;
  height: 314px;
  box-shadow: 0 16px 24px 2px rgba(33, 37, 41, 0.02),
    0 6px 30px 5px rgba(33, 37, 41, 0.04), 0 8px 10px -5px rgba(33, 37, 41, 0.1);
  border-radius: 16px;
  padding-left: 24px;
  padding-top: 24px;
  gap: 24px;
  display: flex;
  flex-direction: column;
}
.container span {
  padding-left: 14px;
}
